<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
	<meta charset="utf-8">
	<title>
		Angular Tutorials
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="app.js"></script>
</head>

<body>

<div ng-controller="MainController">

<form ng-submit="YeniKullanici()">
	<input type="text" ng-model="model" placeholder="İsim...">
	<input type="text" ng-model="yil" placeholder="Yaş...">
	<button>Gönder</button>
</form>

<input type="text" ng-model="filtrele">

<ul>
	<li ng-repeat="uye in uyeler | filter:filtrele | orderBy:'-yil'">
		{{uye.model +" "+ uye.yil}}
	</li>
</ul>

</div>




</body>
</html>